
@{
    ViewBag.Title = "維護OTT上映平台";
}


<h2>維護OTT上映平台</h2>

<style>
    table th {
        white-space: nowrap;
    }

    td {
        height: 45px;
    }
</style>
<div class="container text-center mt-5" id="customSearchInput">
    <div class="row align-items-center">
        <div class="col-12 d-flex justify-content-between">
            <div class="col-9 input-group">
                <input id="titleId" type="text"
                       class="form-control"
                       placeholder="請輸入欲查詢內容" />
                <button class="btn btn-outline-secondary"
                        type="button"
                        id="btnSearch"
                        data-toggle="collapse"
                        data-target="#searchResults"
                        aria-expanded="false"
                        aria-controls="searchResults">
                    搜尋
                </button>
            </div>
            <div class="col-3">
                <a class="btn btn-primary" href="/OttTypes/Create">新增OTT平台</a>
            </div>
        </div>
    </div>
    </div>
    <div class="table-container">
        <!-- 列出影片表 begin -->
        <table id="example"
               class="table table-striped table-bordered"
               style="width: 100%; height:80%;">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>OTT平台名稱</th>
                    <th>編輯</th>
                    <th>刪除</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
<script>
    $(document).ready(function () {

        // 初始化 Bootstrap Select
        $(".selectpicker").selectpicker();

    // 初始化 DataTable
    var table = $("#example").DataTable({
        dom: "lrtp",
        responsive: true,
        pageLength: 10,
        pagingType: "full_numbers",
        searching: true, // 启用搜索功能
        data: {
            Name: "",
        },
        ajax: {
            url: "/api/OttTypesApi/Search",
            type: "POST",
            dataSrc: ""
        },
        columns: [
            { data: "Id" },
            { data: "Name" },
            {
                data: null,
                render: function (data, type, row) {
                    return '<a class="btn btn-success" href="/OttTypes/Edit/' + data.Id + '" data-id="' + data.Id + '">Edit</a>';
                },
            },
            {
                data: null,
                render: function (data, type, row) {


                    return '<button type="button" class="btn deleteBtn btn-danger" data-id="' + data.Id + '">Delete</button>';
                },
            },
        ]
    });

    // 搜尋
    $("#btnSearch").click(function () {
        updateTable();
    });


    // Delete button click event
    $("#example tbody").on("click", "button.deleteBtn", function () {
        var id = $(this).data("id");
        console.log(id);
        $.ajax({
            url: "/api/OttTypesApi/" + id,
            type: "DELETE",
            success: function (response) {
                // 更新表格數據
                alert("刪除成功");
                updateTable();
            },
            error: function (error) {
                console.log(error);
            },
        });
    });

    function updateTable() {

        var jsonData = mapJsonData();

        console.log(jsonData);

        $.ajax({
            url: "/api/OttTypesApi/Search",
            type: "POST",
            data: {
                "Name": $("#titleId").val()
            },
            success: function (response) {
                console.log(response);
                // 清空Datatable数据
                $('#example').DataTable().clear().draw();

                // 在Datatable中添加新数据
                $('#example').DataTable().rows.add(response).draw();
            },
            error: function (err) {
                console.log(err);
            }
        });
    }

    function mapJsonData() {

        var title = $("#titleId").val();
        console.log(title);
        var jsonData = {
            "Name": title,
        };

        return jsonData;
    }
});

</script>

