
@{
    ViewBag.Title = "Index";
    //Layout = null;
}


<!--<!DOCTYPE html>
<html lang="zh-TW">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>電影評分/評論數據</title>


    <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.6/js/dataTables.bootstrap4.min.js"></script>

    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/dataTables.bootstrap4.min.css" />
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />-->
@*css
     使用Bootstrap CSS
    <link rel="stylesheet" href="~/Content/bootstrap.css" />
     使用Select2 CSS
    <link rel="stylesheet" href="~/Content/select2.min.css" />
     使用最新版本的 Bootstrap Select CSS
    <link rel="stylesheet" href="~/Content/bootstrap-select.css" />
     使用最新版本的 Font Awesome CSS
    <link rel="stylesheet" href="~/Content/font-awesome.css" />


     使用最新版本的 Bootstrap JS
    <script src="~/Scripts/bootstrap.bundle.min.js"></script>
     使用最新版本的 Bootstrap Select JS
    <script src="~/Scripts/bootstrap-select.js"></script>*@

@*</head>*@


<body>
    <div class="container text-center mt-3" id="customSearchInput">
        <div class="row align-items-center">
            <div class="col-12">
                <div class="input-group">
                    <input type="text"
                           class="form-control"
                           placeholder="請輸入欲查詢電影" />
                    <select id="categorySelect" class="selectpicker ml-2">
                        <option value="請選擇">請選擇</option>
                        <option value="電影">電影</option>
                        <option value="電視劇">電視劇</option>
                        <option value="動漫">動漫</option>
                        <!-- 添加其他影片類別選項 -->
                    </select>
                    <div class="input-group-append">
                        <button id="searchButton"
                                class="btn btn-outline-secondary"
                                type="button"
                                data-toggle="collapse"
                                data-target="#searchResults"
                                aria-expanded="false"
                                aria-controls="searchResults">
                            搜尋
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <main>
        <!-- table 開始 -->
        <div class="table-container mt-3">
            <table id="rating" class="table table-striped table-bordered" style="width: 100%">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>影片類別</th>
                        <th>標題</th>
                        <th style="width:70px">會員帳號</th>
                        <th style="width:40px">評分</th>
                        <th>評論</th>
                        <th>評分時間</th>
                        <th>刪除</th>
                        <th>詳細</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>

        <script>
            $(document).ready(function () {
                var table = $("#rating").DataTable({
                    dom: "lrtp",
                    responsive: true,
                    pagelength: 10,
                    pagingType: "full_numbers",
                    ajax: {
                        url: "/api/RatingsApi/GetRatingsWithDetails",
                        method: "POST",
                        dataType: "json",
                        //success: function (data) {
                        //    console.log(data); //成功時處理資料
                        //    // 使用下面的代碼將數據添加到DataTable中
                        //    table.clear().rows.add(data).draw();
                        //},
                        //error: function (error) {
                        //    console.error("發生錯誤：", error);
                        //},
                        dataSrc: ""
                    },
                    columns: [
                        { data: "Id" },
                        {
                            data: "CategoryId",
                            render: function (data, type, row) {
                                // 將數字映射為文字標籤
                                switch (data) {
                                    case 1:
                                        return "電視劇";
                                    case 2:
                                        return "電影";
                                    case 3:
                                        return "動漫";
                                    default:
                                        return "";
                                }
                            }
                        },
                        { data: "MediaInfoTitle" },
                        { data: "MemberAccount" },
                        { data: "Rate" },
                        { data: "Comment" },
                        {
                            data: "CreatedTime",
                            render: function (data, type, row) {
                                if (type === 'display' && data) {
                                    return formatDateTime(data);
                                }
                                return data;
                            }
                        },
                        {
                            data: null,
                            render: function (data, type, row) {
                                return '<button type="button" class="btn btn-danger">Delete</button>';
                            },
                        },
                        {
                            data: null,
                            render: function (data, type, row) {
                                var detailUrl = '/Ratings/Details/' + row.Id; // 將Id附加到URL
                                return '<a href="' + detailUrl + '" type="button" class="btn btn-warning">Detail</a>';
                            },
                        },
                    ],
                });

                // 搜尋button event handler
                $("#searchButton").click(function () {
                    var searchTerm = $(".form-control").val(); // 獲取搜索詞
                    var categorySelectValue = $("#categorySelect").val(); //獲取影片類別
                    if (searchTerm) {
                        // 使用搜索框可以搜尋 MediaInfoTitle
                        table.column(2).search(searchTerm).draw();
                    } else if (categorySelectValue && categorySelectValue !== "請選擇") {
                        // 使用選擇框也能搜尋
                        table.column(1).search(categorySelectValue).draw();
                    } else {
                        // 如果都沒有選擇，清空搜尋並顯示所有數據
                        table.search("").draw();
                    }
                });
            });

            //自訂日期時間格式
            function formatDateTime(dateTimeString) {
                const options = {
                    year: 'numeric',
                    month: '2-digit',
                    day: '2-digit',
                    hour: '2-digit',
                    minute: '2-digit',
                    second: '2-digit'
                };

                const dateTime = new Date(dateTimeString);
                return dateTime.toLocaleDateString('zh-TW', options);
            }

        </script>
    </main>
</body>
@*</html>*@