
@{
    ViewBag.Title = "Index";
    //Layout = null;
}
<style>
    #rating_length > label > select {
        width: 46px;
    }

    #rating_length {
        margin-top: 10px;
    }
    .btn{
        white-space:nowrap;
    }
</style>
<body>
    <div class="home-content">
        <span class="text" style="font-size:32px; font-weight:500; margin-left:10px;">評論</span>
    </div>
    <div class="container text-center mt-3" id="customSearchInput">
        <div class="row align-items-center">
            <div class="col-12">
                <div class="input-group">
                    <input type="text"
                           class="form-control"
                           placeholder="請輸入欲查詢影片" />
                    <select id="categorySelect" class="selectpicker ml-2">
                        <option value="請選擇">請選擇</option>
                        <option value="電影">電影</option>
                        <option value="電視劇">電視劇</option>
                        <option value="動漫">動漫</option>
                        <!-- 添加其他影片類別選項 -->
                    </select>
                    <div class="input-group-append">
                        <button id="searchButton"
                                class="btn btn-outline-secondary"
                                type="button"
                                data-toggle="collapse"
                                data-target="#searchResults"
                                aria-expanded="false"
                                aria-controls="searchResults">
                            搜尋
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <main>
        <!-- table 開始 -->
        <div class="table-container mt-3">
            <table id="rating" class="table table-striped table-bordered" style="width: 100%">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>影片類別</th>
                        <th>標題</th>
                        <th style="width:70px">會員帳號</th>
                        <th style="width:40px">評分</th>
                        <th>評論</th>
                        <th>評分時間</th>
                        <th>詳細</th>
                        <th>刪除</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>

        @*刪除確認的模態對話框*@
        <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="deleteModalLabel">刪除評論</h5>
                        @*<button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>*@
                    </div>
                    <div class="modal-body">
                        確定要刪除評論嗎？
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" id="cancelDelete" data-dismiss="modal">取消</button>
                        <button type="button" class="btn btn-danger" id="confirmDelete">確定刪除</button>
                    </div>
                </div>
            </div>
        </div>

        <script>
            $(document).ready(function () {
                var table = $("#rating").DataTable({
                    dom: "lrtp",
                    responsive: true,
                    language: {
                        "url": "/Content/Json/datatable-lang-zh.json"
                    },
                    pagelength: 10,
                    pagingType: "full_numbers",
                    ajax: {
                        url: "/api/RatingsApi/GetRatingsWithDetails",
                        method: "POST",
                        dataType: "json",

                        dataSrc: ""
                    },
                    columns: [
                        { data: "Id" },
                        {
                            data: "CategoryId",
                            render: function (data, type, row) {
                                // 將數字映射為文字標籤
                                switch (data) {
                                    case 1:
                                        return "電視劇";
                                    case 2:
                                        return "電影";
                                    case 3:
                                        return "動漫";
                                    default:
                                        return "";
                                }
                            }
                        },
                        { data: "MediaInfoTitle" },
                        { data: "MemberAccount" },
                        { data: "Rate" },
                        { data: "Comment" },
                        {
                            data: "CreatedTime",
                            render: function (data, type, row) {
                                if (type === 'display' && data) {
                                    return formatDateTime(data);
                                }
                                return data;
                            }
                        },
                        {
                            data: null,
                            render: function (data, type, row) {
                                var detailUrl = '/Ratings/Details/' + row.Id; // 將Id附加到URL
                                return '<a href="' + detailUrl + '" type="button" class="btn btn-warning">詳情</a>';
                            },
                        },
                        {
                            data: null,
                            render: function (data, type, row) {
                                return '<button class="btn btn-danger delete-button" data-id="' + data.Id + '" data-toggle="modal" data-target="#deleteModal">刪除</button>';
                            },
                        },
                    ],
                });

                // 搜尋按鈕事件處理程序
                $("#searchButton").click(function () {
                    var searchTerm = $(".form-control").val(); // 取得搜尋詞
                    var categorySelectValue = $("#categorySelect").val(); // 取得影片類別
                    if (searchTerm) {
                        // 使用搜尋框可以搜尋 MediaInfoTitle
                        table.column(2).search(searchTerm);
                    } else {
                        // 若搜尋框為空，清空 MediaInfoTitle 的搜尋
                        table.column(2).search("");
                    }

                    if (categorySelectValue && categorySelectValue !== "請選擇") {
                        // 使用選擇框也能搜尋
                        table.column(1).search(categorySelectValue);
                    } else {
                        // 如果選擇框沒有選擇，清空影片類別的搜尋
                        table.column(1).search("");
                    }

                    // 重新繪製資料表格
                    table.draw();
                });

                //自訂日期時間格式
                function formatDateTime(dateTimeString) {
                    const options = {
                        year: 'numeric',
                        month: '2-digit',
                        day: '2-digit',
                        hour: '2-digit',
                        minute: '2-digit',
                        second: '2-digit'
                    };

                    const dateTime = new Date(dateTimeString);
                    return dateTime.toLocaleDateString('zh-TW', options);
                }

                // 刪除按鈕點擊事件處理程序
                $("#rating tbody").on("click", ".delete-button", function () {
                    var rowData = table.row($(this).parents("tr")).data();
                    var commentId = rowData.Id;
                    /* var commentId = parseInt(rowData.RatingId);*/

                    // 在Modal對話框中顯示要刪除的評論信息
                    $("#deleteModal .modal-body").html("確定要刪除評論：<br><strong>" + rowData.Comment + "</strong>");

                    // 監聽取消刪除按鈕的點擊事件
                    $("#cancelDelete").click(function () {

                        $('#deleteModal').modal('hide'); // 關閉模態對話框
                    });

                    // 確定刪除按鈕點擊事件處理程序
                    $("#confirmDelete").off("click").on("click", function () {

                        var commentId = rowData.Id; // 假設RatingId是評論的唯一ID
                        // 執行刪除操作，這裡你可以發送Ajax請求刪除資料
                        $.ajax({
                            url: "/api/RatingsApi/" + commentId, // 假設這是刪除的API端點
                            method: "DELETE",

                            success: function (data) {
                                $("#deleteModal").modal("hide");
                                // 刪除成功後，重新載入DataTable
                                location.reload();

                            },
                            error: function (error) {
                                console.error("刪除評論時發生錯誤：", error);
                            }
                        });


                        // 關閉Modal對話框
                        $("#deleteModal").modal("hide");
                    });

                    // 顯示Modal對話框
                    $("#deleteModal").modal("show");

                });
            });

        </script>
    </main>
</body>
