USE [FDB02]
GO
/****** Object:  Table [dbo].[BlacklistReasons]    Script Date: 2023/10/3 下午 04:05:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BlacklistReasons](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Reason] [nvarchar](50) NOT NULL,
	[DisplayOrder] [int] NOT NULL,
 CONSTRAINT [PK_BlacklistReasons] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Blacklists]    Script Date: 2023/10/3 下午 04:05:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Blacklists](
	[Id] [int] NOT NULL,
	[UserId] [int] NULL,
	[BlacklistReasonId] [int] NOT NULL,
	[BlacklistTime] [datetime] NOT NULL,
	[NextRestorationTime] [datetime] NOT NULL,
 CONSTRAINT [PK_Blacklists] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 2023/10/3 下午 04:05:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](30) NOT NULL,
 CONSTRAINT [PK_Categories] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Creditcards]    Script Date: 2023/10/3 下午 04:05:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Creditcards](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MemberId] [int] NOT NULL,
	[CardNumber] [nchar](16) NOT NULL,
	[ThreeNumber] [nchar](3) NOT NULL,
	[ExpireDate] [nvarchar](7) NOT NULL,
	[FirstName] [nvarchar](20) NOT NULL,
	[LastName] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_PayMethods] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FAQs]    Script Date: 2023/10/3 下午 04:05:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FAQs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Question] [nvarchar](100) NOT NULL,
	[Answer] [nvarchar](max) NOT NULL,
	[Enabled] [bit] NOT NULL,
	[DisplayOrder] [int] NOT NULL,
	[UserId] [int] NULL,
 CONSTRAINT [PK_FAQs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FavoriteMedias]    Script Date: 2023/10/3 下午 04:05:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FavoriteMedias](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MemberId] [int] NOT NULL,
	[MediaInformId] [int] NOT NULL,
 CONSTRAINT [PK_FavoriteMedias] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Genres]    Script Date: 2023/10/3 下午 04:05:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Genres](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](150) NOT NULL,
 CONSTRAINT [PK_Genres] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GuestBooks]    Script Date: 2023/10/3 下午 04:05:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GuestBooks](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](254) NOT NULL,
	[Subject] [nvarchar](100) NOT NULL,
	[Message] [nvarchar](3000) NOT NULL,
	[CreatedTime] [datetime] NOT NULL,
 CONSTRAINT [PK_GuestBooks] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LanguageCodes]    Script Date: 2023/10/3 下午 04:05:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LanguageCodes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ISOCode] [nvarchar](10) NULL,
	[LanguageName] [nvarchar](50) NULL,
 CONSTRAINT [PK_LanguageCodes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MediaInfos]    Script Date: 2023/10/3 下午 04:05:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MediaInfos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CategoryId] [int] NULL,
	[Title] [nvarchar](150) NULL,
	[OverView] [nvarchar](max) NULL,
	[Adult] [bit] NULL,
	[OriginalLanguageId] [int] NULL,
	[OriginalTitle] [nvarchar](255) NULL,
	[BackdropPath] [nvarchar](255) NULL,
	[PosterPath] [nvarchar](50) NULL,
 CONSTRAINT [PK_MediaInfos] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MediaInfos_Genres_Rel]    Script Date: 2023/10/3 下午 04:05:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MediaInfos_Genres_Rel](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MediaInfoId] [int] NOT NULL,
	[GenreId] [int] NOT NULL,
 CONSTRAINT [PK_VideoGenres] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MediaInfos_OttTypes_Rel]    Script Date: 2023/10/3 下午 04:05:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MediaInfos_OttTypes_Rel](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MediaInfoId] [int] NOT NULL,
	[OttTypeId] [int] NOT NULL,
	[Release_Date] [datetime] NOT NULL,
	[Removal_Date] [datetime] NULL,
 CONSTRAINT [PK_VideoOttTypes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Members]    Script Date: 2023/10/3 下午 04:05:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Members](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Account] [nvarchar](50) NOT NULL,
	[Password] [varchar](70) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[BirthOfDate] [datetime] NOT NULL,
	[Email] [nvarchar](254) NOT NULL,
	[VipStartdate] [datetime] NULL,
	[VipEnddate] [datetime] NULL,
	[BlacklistEnddate] [datetime] NULL,
	[IsConfirmed] [bit] NULL,
	[ConfirmedCode] [nvarchar](50) NULL,
	[CreatedTime] [datetime] NOT NULL,
 CONSTRAINT [PK_Members] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[News]    Script Date: 2023/10/3 下午 04:05:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[News](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](30) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[Publishdate] [date] NOT NULL,
 CONSTRAINT [PK_News] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OttTypes]    Script Date: 2023/10/3 下午 04:05:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OttTypes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](150) NOT NULL,
 CONSTRAINT [PK_OttTypes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PayTypes]    Script Date: 2023/10/3 下午 04:05:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PayTypes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Type] [nvarchar](30) NOT NULL,
	[Fee] [int] NOT NULL,
	[DisplayOrder] [int] NOT NULL,
 CONSTRAINT [PK_PayTypes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ratings]    Script Date: 2023/10/3 下午 04:05:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ratings](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MediaInfoId] [int] NOT NULL,
	[MemberId] [int] NULL,
	[Comment] [nvarchar](500) NULL,
	[Rate] [int] NULL,
	[CreatedTime] [datetime] NULL,
 CONSTRAINT [PK_Ratings] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 2023/10/3 下午 04:05:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Account] [nvarchar](50) NOT NULL,
	[Password] [varchar](70) NOT NULL,
	[IsConfirmed] [bit] NULL,
	[ConfirmCode] [nvarchar](50) NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vipitems]    Script Date: 2023/10/3 下午 04:05:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vipitems](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MemberId] [int] NOT NULL,
	[PayTypeId] [int] NOT NULL,
	[CreditcardId] [int] NOT NULL,
	[PaymentDate] [datetime] NOT NULL,
	[StartDate] [datetime] NOT NULL,
	[ExpiryDate] [datetime] NOT NULL,
 CONSTRAINT [PK_Vips] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[BlacklistReasons] ON 

INSERT [dbo].[BlacklistReasons] ([Id], [Reason], [DisplayOrder]) VALUES (3, N'色情或煽情露骨的留言', 10)
INSERT [dbo].[BlacklistReasons] ([Id], [Reason], [DisplayOrder]) VALUES (4, N'騷擾或霸凌內容', 10)
INSERT [dbo].[BlacklistReasons] ([Id], [Reason], [DisplayOrder]) VALUES (5, N'仇恨言論或血腥暴力的內容', 20)
SET IDENTITY_INSERT [dbo].[BlacklistReasons] OFF
GO
INSERT [dbo].[Blacklists] ([Id], [UserId], [BlacklistReasonId], [BlacklistTime], [NextRestorationTime]) VALUES (5, NULL, 7, CAST(N'2023-10-04T00:00:00.000' AS DateTime), CAST(N'2023-12-04T00:00:00.000' AS DateTime))
INSERT [dbo].[Blacklists] ([Id], [UserId], [BlacklistReasonId], [BlacklistTime], [NextRestorationTime]) VALUES (17, 2, 4, CAST(N'2023-09-23T00:00:00.000' AS DateTime), CAST(N'2023-11-23T00:00:00.000' AS DateTime))
INSERT [dbo].[Blacklists] ([Id], [UserId], [BlacklistReasonId], [BlacklistTime], [NextRestorationTime]) VALUES (18, 1, 11, CAST(N'2023-08-14T00:00:00.000' AS DateTime), CAST(N'2023-10-14T00:00:00.000' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([Id], [Name]) VALUES (1, N'電視')
INSERT [dbo].[Categories] ([Id], [Name]) VALUES (2, N'電影')
INSERT [dbo].[Categories] ([Id], [Name]) VALUES (3, N'動畫')
SET IDENTITY_INSERT [dbo].[Categories] OFF
GO
SET IDENTITY_INSERT [dbo].[Creditcards] ON 

INSERT [dbo].[Creditcards] ([Id], [MemberId], [CardNumber], [ThreeNumber], [ExpireDate], [FirstName], [LastName]) VALUES (1, 2, N'1111111122222222', N'123', N'2028/03', N'郭', N'米妮')
INSERT [dbo].[Creditcards] ([Id], [MemberId], [CardNumber], [ThreeNumber], [ExpireDate], [FirstName], [LastName]) VALUES (2, 2, N'3333333344444444', N'456', N'2025/01', N'郭', N'米妮')
INSERT [dbo].[Creditcards] ([Id], [MemberId], [CardNumber], [ThreeNumber], [ExpireDate], [FirstName], [LastName]) VALUES (3, 48, N'1234567891080987', N'789', N'2027/11', N'郭', N'艾倫')
SET IDENTITY_INSERT [dbo].[Creditcards] OFF
GO
SET IDENTITY_INSERT [dbo].[FAQs] ON 

INSERT [dbo].[FAQs] ([Id], [Question], [Answer], [Enabled], [DisplayOrder], [UserId]) VALUES (1, N'如果忘記密碼怎麼辦？', N'可在登入畫面下方點選忘記密碼,填寫資料後會寄Email至信箱,即可重設密碼', 1, 30, NULL)
INSERT [dbo].[FAQs] ([Id], [Question], [Answer], [Enabled], [DisplayOrder], [UserId]) VALUES (2, N'如何擁有VIP服務？', N'若您想成為付費會員,可在登入後的會員中心,點選立即升級,並選取您想要的方案進行購買', 1, 40, NULL)
INSERT [dbo].[FAQs] ([Id], [Question], [Answer], [Enabled], [DisplayOrder], [UserId]) VALUES (3, N'為甚麼登入後無法留言?', N'可以進入會員中心頁,查看是否有停權', 1, 20, NULL)
SET IDENTITY_INSERT [dbo].[FAQs] OFF
GO
SET IDENTITY_INSERT [dbo].[FavoriteMedias] ON 

INSERT [dbo].[FavoriteMedias] ([Id], [MemberId], [MediaInformId]) VALUES (2, 34, 26)
SET IDENTITY_INSERT [dbo].[FavoriteMedias] OFF
GO
SET IDENTITY_INSERT [dbo].[Genres] ON 

INSERT [dbo].[Genres] ([Id], [Name]) VALUES (12, N'冒險')
INSERT [dbo].[Genres] ([Id], [Name]) VALUES (14, N'幻想')
INSERT [dbo].[Genres] ([Id], [Name]) VALUES (16, N'動畫')
SET IDENTITY_INSERT [dbo].[Genres] OFF
GO
SET IDENTITY_INSERT [dbo].[LanguageCodes] ON 

INSERT [dbo].[LanguageCodes] ([Id], [ISOCode], [LanguageName]) VALUES (1, N'af-ZA', N'南非荷蘭語 - 南非')
INSERT [dbo].[LanguageCodes] ([Id], [ISOCode], [LanguageName]) VALUES (2, N'sq-AL', N'阿爾巴尼亞人 - 阿爾巴尼亞')
INSERT [dbo].[LanguageCodes] ([Id], [ISOCode], [LanguageName]) VALUES (3, N'ar-DZ', N'阿拉伯語 - 阿爾及利亞')
GO
SET IDENTITY_INSERT [dbo].[LanguageCodes] OFF
GO
SET IDENTITY_INSERT [dbo].[MediaInfos] ON 

INSERT [dbo].[MediaInfos] ([Id], [CategoryId], [Title], [OverView], [Adult], [OriginalLanguageId], [OriginalTitle], [BackdropPath], [PosterPath]) VALUES (19, 2, N'變形金剛：萬獸崛起', N'再度以精彩刺激的動作場面及氣勢磅薄的宏偉奇觀捕捉全球影迷的想像力，《變形金剛：萬獸崛起》一片將帶領觀眾回到1990年代，跟著博派變形金剛展開一場橫跨全世界的冒險旅程，並且介紹一個全新品種的變形金剛－強大金剛－加入博派變形金剛與狂派變形金剛之間在地球上的大戰。', 1, 1, N'Transformers: Rise of the Beasts', N'/Images/Backdrop/oxrt1mop.iok.jpg', N'/Images/Poster/d5zefnqx.lds.jpg')
INSERT [dbo].[MediaInfos] ([Id], [CategoryId], [Title], [OverView], [Adult], [OriginalLanguageId], [OriginalTitle], [BackdropPath], [PosterPath]) VALUES (20, 2, N'閃電俠', N'在《閃電俠》中，貝瑞使用超能力回到過去，想要改變已發生的事件，卻衝擊了時空秩序。當貝瑞試圖拯救家人時，不小心改變了未來，使他受困於另一個時空中；在這個時空中，回歸的薩德將軍正威脅著毀滅世界，但卻沒有超級英雄可以求助，除非貝瑞能說服一位退休的蝙蝠俠重現江湖，解救一位被監禁的氪星人……儘管他可能找錯了人。到頭來，貝瑞為了拯救他所在的世界，返回他所知的未來，唯一的希望就是用盡生命賽跑，但他最後做出的犧牲足以拯救整個宇宙嗎？', 1, 2, N'The Flash', N'/Images/Backdrop/avl3shki.pam.jpg', N'/Images/Poster/13pyon5x.hac.jpg')
INSERT [dbo].[MediaInfos] ([Id], [CategoryId], [Title], [OverView], [Adult], [OriginalLanguageId], [OriginalTitle], [BackdropPath], [PosterPath]) VALUES (21, 2, N'Barbie芭比', N'芭比（瑪格羅比 飾演）在一個完美的地方過著完美的人生，會舉辦超級盛大的派對，有華麗音樂及排舞，每天都過著很棒的日子。但有一天怪事開始發生在芭比身上，她的洗澡水不熱，會從屋頂跌落，甚至發現她的腳跟竟然貼地了，變成扁平足。之後她決定與肯尼（萊恩葛斯林 飾演）進入真實世界，去探索事情的真相，並且引發一連串的意外事件。', 0, 2, N'Barbie', N'/Images/Backdrop/szet14it.ygl.jpg', N'/Images/Poster/plobbnm4.bdk.jpg')
SET IDENTITY_INSERT [dbo].[MediaInfos] OFF
GO
SET IDENTITY_INSERT [dbo].[MediaInfos_Genres_Rel] ON 

INSERT [dbo].[MediaInfos_Genres_Rel] ([Id], [MediaInfoId], [GenreId]) VALUES (336, 73, 18)
INSERT [dbo].[MediaInfos_Genres_Rel] ([Id], [MediaInfoId], [GenreId]) VALUES (343, 20, 12)
INSERT [dbo].[MediaInfos_Genres_Rel] ([Id], [MediaInfoId], [GenreId]) VALUES (344, 20, 10751)
SET IDENTITY_INSERT [dbo].[MediaInfos_Genres_Rel] OFF
GO
SET IDENTITY_INSERT [dbo].[MediaInfos_OttTypes_Rel] ON 

INSERT [dbo].[MediaInfos_OttTypes_Rel] ([Id], [MediaInfoId], [OttTypeId], [Release_Date], [Removal_Date]) VALUES (147, 73, 3, CAST(N'2023-10-07T00:00:00.000' AS DateTime), CAST(N'2023-12-01T00:00:00.000' AS DateTime))
INSERT [dbo].[MediaInfos_OttTypes_Rel] ([Id], [MediaInfoId], [OttTypeId], [Release_Date], [Removal_Date]) VALUES (154, 20, 1, CAST(N'2011-01-01T00:00:00.000' AS DateTime), NULL)
INSERT [dbo].[MediaInfos_OttTypes_Rel] ([Id], [MediaInfoId], [OttTypeId], [Release_Date], [Removal_Date]) VALUES (155, 20, 5, CAST(N'2011-01-01T00:00:00.000' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[MediaInfos_OttTypes_Rel] OFF
GO
SET IDENTITY_INSERT [dbo].[Members] ON 

INSERT [dbo].[Members] ([Id], [Account], [Password], [Name], [BirthOfDate], [Email], [VipStartdate], [VipEnddate], [BlacklistEnddate], [IsConfirmed], [ConfirmedCode], [CreatedTime]) VALUES (2, N'mini', N'8A74CF37CD5E5CB72F042CF2EBB617EBA1075B0FE50F856FA28CB0D4FE5415F7', N'米妮', CAST(N'1987-01-05T00:00:00.000' AS DateTime), N'mini@gmail.com', CAST(N'2023-09-15T00:00:00.000' AS DateTime), CAST(N'2023-10-14T00:00:00.000' AS DateTime), NULL, NULL, NULL, CAST(N'2023-08-08T13:45:10.307' AS DateTime))
INSERT [dbo].[Members] ([Id], [Account], [Password], [Name], [BirthOfDate], [Email], [VipStartdate], [VipEnddate], [BlacklistEnddate], [IsConfirmed], [ConfirmedCode], [CreatedTime]) VALUES (3, N'peter', N'8A74CF37CD5E5CB72F042CF2EBB617EBA1075B0FE50F856FA28CB0D4FE5415F7', N'彼得', CAST(N'1976-03-06T00:00:00.000' AS DateTime), N'peter@gmail.com', CAST(N'2023-10-02T00:00:00.000' AS DateTime), CAST(N'2023-11-02T00:00:00.000' AS DateTime), NULL, NULL, NULL, CAST(N'2023-08-08T13:46:38.860' AS DateTime))
INSERT [dbo].[Members] ([Id], [Account], [Password], [Name], [BirthOfDate], [Email], [VipStartdate], [VipEnddate], [BlacklistEnddate], [IsConfirmed], [ConfirmedCode], [CreatedTime]) VALUES (5, N'mikkel', N'8A74CF37CD5E5CB72F042CF2EBB617EBA1075B0FE50F856FA28CB0D4FE5415F7', N'思翰', CAST(N'1975-12-19T22:39:58.000' AS DateTime), N'mohern0@360.cn', NULL, NULL, CAST(N'2023-12-04T00:00:00.000' AS DateTime), NULL, NULL, CAST(N'2020-01-07T10:42:34.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Members] OFF
GO
SET IDENTITY_INSERT [dbo].[News] ON 

INSERT [dbo].[News] ([Id], [Title], [Description], [Publishdate]) VALUES (1, N'6/30網站更新', N'將於6/30上午9:00~11:00,進行網站更新,造成不便,造成不便進請見諒', CAST(N'2023-06-25' AS Date))
INSERT [dbo].[News] ([Id], [Title], [Description], [Publishdate]) VALUES (3, N'7月上映與下映資訊', N'7月份的上映與下映資訊,將於6/30中午更新~', CAST(N'2023-06-26' AS Date))
INSERT [dbo].[News] ([Id], [Title], [Description], [Publishdate]) VALUES (5, N'7/31網站更新', N'將於7/31上午9:00~11:00,進行網站更新,造成不便,造成不便進請見諒', CAST(N'2023-07-26' AS Date))
SET IDENTITY_INSERT [dbo].[News] OFF
GO
SET IDENTITY_INSERT [dbo].[OttTypes] ON 

INSERT [dbo].[OttTypes] ([Id], [Name]) VALUES (1, N'Netflix')
INSERT [dbo].[OttTypes] ([Id], [Name]) VALUES (2, N'HBO')
INSERT [dbo].[OttTypes] ([Id], [Name]) VALUES (3, N'Disney')
SET IDENTITY_INSERT [dbo].[OttTypes] OFF
GO
SET IDENTITY_INSERT [dbo].[PayTypes] ON 

INSERT [dbo].[PayTypes] ([Id], [Type], [Fee], [DisplayOrder]) VALUES (1, N'月費', 50, 10)
INSERT [dbo].[PayTypes] ([Id], [Type], [Fee], [DisplayOrder]) VALUES (2, N'季費', 120, 20)
SET IDENTITY_INSERT [dbo].[PayTypes] OFF
GO
SET IDENTITY_INSERT [dbo].[Ratings] ON 

INSERT [dbo].[Ratings] ([Id], [MediaInfoId], [MemberId], [Comment], [Rate], [CreatedTime]) VALUES (6, 19, 2, N'雖然是一部大悶片,但算是高級知識份子的片單,票房不錯,應該是吸引大學理工科系有唸過物理的人來觀看,如果文組的話應該就看不懂了,但還是覺得悶,難怪配樂從頭到尾沒停過,沒配樂的話真的是會睡著', 3, CAST(N'2023-05-08T00:00:00.000' AS DateTime))
INSERT [dbo].[Ratings] ([Id], [MediaInfoId], [MemberId], [Comment], [Rate], [CreatedTime]) VALUES (7, 19, 5, N'就是一部無腦片~ 連爽片都不算...要去看的人三思', 1, CAST(N'2023-05-10T00:00:00.000' AS DateTime))
INSERT [dbo].[Ratings] ([Id], [MediaInfoId], [MemberId], [Comment], [Rate], [CreatedTime]) VALUES (8, 20, 7, N'這部電影好看 , 老少咸宜 , 有成年女生看到流眼淚 XD 以水和火兩個元素來詮釋故事蠻有創意的', 5, CAST(N'2023-05-12T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Ratings] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [Name], [Account], [Password], [IsConfirmed], [ConfirmCode]) VALUES (1, N'傑西', N'jessy', N'8A74CF37CD5E5CB72F042CF2EBB617EBA1075B0FE50F856FA28CB0D4FE5415F7', 1, NULL)
INSERT [dbo].[Users] ([Id], [Name], [Account], [Password], [IsConfirmed], [ConfirmCode]) VALUES (2, N'喬安', N'joanne', N'8A74CF37CD5E5CB72F042CF2EBB617EBA1075B0FE50F856FA28CB0D4FE5415F7', 1, NULL)
INSERT [dbo].[Users] ([Id], [Name], [Account], [Password], [IsConfirmed], [ConfirmCode]) VALUES (3, N'賽門', N'simon', N'8A74CF37CD5E5CB72F042CF2EBB617EBA1075B0FE50F856FA28CB0D4FE5415F7', 1, NULL)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET IDENTITY_INSERT [dbo].[Vipitems] ON 

INSERT [dbo].[Vipitems] ([Id], [MemberId], [PayTypeId], [CreditcardId], [PaymentDate], [StartDate], [ExpiryDate]) VALUES (8, 12, 1, 27, CAST(N'2023-09-23T17:47:47.543' AS DateTime), CAST(N'2023-09-24T00:00:00.000' AS DateTime), CAST(N'2023-10-23T17:47:47.543' AS DateTime))
INSERT [dbo].[Vipitems] ([Id], [MemberId], [PayTypeId], [CreditcardId], [PaymentDate], [StartDate], [ExpiryDate]) VALUES (9, 3, 1, 17, CAST(N'2023-08-30T17:47:51.630' AS DateTime), CAST(N'2023-08-31T00:00:00.000' AS DateTime), CAST(N'2023-09-30T17:47:51.630' AS DateTime))
INSERT [dbo].[Vipitems] ([Id], [MemberId], [PayTypeId], [CreditcardId], [PaymentDate], [StartDate], [ExpiryDate]) VALUES (11, 20, 1, 28, CAST(N'2022-12-25T17:49:33.003' AS DateTime), CAST(N'2022-12-26T00:00:00.000' AS DateTime), CAST(N'2023-01-25T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Vipitems] OFF
GO
ALTER TABLE [dbo].[Blacklists] ADD  CONSTRAINT [DF_Blacklists_BlacklistTime]  DEFAULT (getdate()) FOR [BlacklistTime]
GO
ALTER TABLE [dbo].[FAQs] ADD  CONSTRAINT [DF_FAQs_Enabled]  DEFAULT ((1)) FOR [Enabled]
GO
ALTER TABLE [dbo].[GuestBooks] ADD  CONSTRAINT [DF_GuestBooks_CreatedTime]  DEFAULT (getdate()) FOR [CreatedTime]
GO
ALTER TABLE [dbo].[MediaInfos] ADD  CONSTRAINT [DF_MediaInfos_Adult]  DEFAULT ((0)) FOR [Adult]
GO
ALTER TABLE [dbo].[Members] ADD  CONSTRAINT [DF_Members_CreatedTime]  DEFAULT (getdate()) FOR [CreatedTime]
GO
ALTER TABLE [dbo].[News] ADD  CONSTRAINT [DF_News_Publishdate]  DEFAULT (getdate()) FOR [Publishdate]
GO
ALTER TABLE [dbo].[Ratings] ADD  CONSTRAINT [DF_Ratings_CreatedTime]  DEFAULT (getdate()) FOR [CreatedTime]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF_Users_Enabled]  DEFAULT ((0)) FOR [IsConfirmed]
GO
ALTER TABLE [dbo].[Vipitems] ADD  CONSTRAINT [DF_Vips_PaymentDate]  DEFAULT (getdate()) FOR [PaymentDate]
GO
ALTER TABLE [dbo].[Blacklists]  WITH CHECK ADD  CONSTRAINT [FK_Blacklists_BlacklistReasons] FOREIGN KEY([BlacklistReasonId])
REFERENCES [dbo].[BlacklistReasons] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Blacklists] CHECK CONSTRAINT [FK_Blacklists_BlacklistReasons]
GO
ALTER TABLE [dbo].[Blacklists]  WITH CHECK ADD  CONSTRAINT [FK_Blacklists_Members] FOREIGN KEY([Id])
REFERENCES [dbo].[Members] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Blacklists] CHECK CONSTRAINT [FK_Blacklists_Members]
GO
ALTER TABLE [dbo].[Blacklists]  WITH CHECK ADD  CONSTRAINT [FK_Blacklists_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Blacklists] CHECK CONSTRAINT [FK_Blacklists_Users]
GO
ALTER TABLE [dbo].[Creditcards]  WITH CHECK ADD  CONSTRAINT [FK_Creditcards_Members] FOREIGN KEY([MemberId])
REFERENCES [dbo].[Members] ([Id])
GO
ALTER TABLE [dbo].[Creditcards] CHECK CONSTRAINT [FK_Creditcards_Members]
GO
ALTER TABLE [dbo].[FAQs]  WITH CHECK ADD  CONSTRAINT [FK_FAQs_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[FAQs] CHECK CONSTRAINT [FK_FAQs_Users]
GO
ALTER TABLE [dbo].[FavoriteMedias]  WITH CHECK ADD  CONSTRAINT [FK_FavoriteMedias_MediaInfos] FOREIGN KEY([MediaInformId])
REFERENCES [dbo].[MediaInfos] ([Id])
GO
ALTER TABLE [dbo].[FavoriteMedias] CHECK CONSTRAINT [FK_FavoriteMedias_MediaInfos]
GO
ALTER TABLE [dbo].[FavoriteMedias]  WITH CHECK ADD  CONSTRAINT [FK_FavoriteMedias_Users] FOREIGN KEY([MemberId])
REFERENCES [dbo].[Members] ([Id])
GO
ALTER TABLE [dbo].[FavoriteMedias] CHECK CONSTRAINT [FK_FavoriteMedias_Users]
GO
ALTER TABLE [dbo].[MediaInfos]  WITH CHECK ADD  CONSTRAINT [FK_MediaInfos_Categories] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Categories] ([Id])
GO
ALTER TABLE [dbo].[MediaInfos] CHECK CONSTRAINT [FK_MediaInfos_Categories]
GO
ALTER TABLE [dbo].[MediaInfos]  WITH CHECK ADD  CONSTRAINT [FK_MediaInfos_LanguageCodes] FOREIGN KEY([OriginalLanguageId])
REFERENCES [dbo].[LanguageCodes] ([Id])
GO
ALTER TABLE [dbo].[MediaInfos] CHECK CONSTRAINT [FK_MediaInfos_LanguageCodes]
GO
ALTER TABLE [dbo].[MediaInfos_Genres_Rel]  WITH CHECK ADD  CONSTRAINT [FK_VideoGenres_Genres] FOREIGN KEY([GenreId])
REFERENCES [dbo].[Genres] ([Id])
GO
ALTER TABLE [dbo].[MediaInfos_Genres_Rel] CHECK CONSTRAINT [FK_VideoGenres_Genres]
GO
ALTER TABLE [dbo].[MediaInfos_Genres_Rel]  WITH CHECK ADD  CONSTRAINT [FK_VideoGenres_MediaInfos] FOREIGN KEY([MediaInfoId])
REFERENCES [dbo].[MediaInfos] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MediaInfos_Genres_Rel] CHECK CONSTRAINT [FK_VideoGenres_MediaInfos]
GO
ALTER TABLE [dbo].[MediaInfos_OttTypes_Rel]  WITH CHECK ADD  CONSTRAINT [FK_VideoOttTypes_MediaInfos] FOREIGN KEY([MediaInfoId])
REFERENCES [dbo].[MediaInfos] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MediaInfos_OttTypes_Rel] CHECK CONSTRAINT [FK_VideoOttTypes_MediaInfos]
GO
ALTER TABLE [dbo].[MediaInfos_OttTypes_Rel]  WITH CHECK ADD  CONSTRAINT [FK_VideoOttTypes_OttTypes] FOREIGN KEY([OttTypeId])
REFERENCES [dbo].[OttTypes] ([Id])
GO
ALTER TABLE [dbo].[MediaInfos_OttTypes_Rel] CHECK CONSTRAINT [FK_VideoOttTypes_OttTypes]
GO
ALTER TABLE [dbo].[Ratings]  WITH CHECK ADD  CONSTRAINT [FK_Ratings_MediaInfos] FOREIGN KEY([MediaInfoId])
REFERENCES [dbo].[MediaInfos] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Ratings] CHECK CONSTRAINT [FK_Ratings_MediaInfos]
GO
ALTER TABLE [dbo].[Ratings]  WITH CHECK ADD  CONSTRAINT [FK_Ratings_Members] FOREIGN KEY([MemberId])
REFERENCES [dbo].[Members] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Ratings] CHECK CONSTRAINT [FK_Ratings_Members]
GO
ALTER TABLE [dbo].[Vipitems]  WITH CHECK ADD  CONSTRAINT [FK_Vipitems_Creditcards] FOREIGN KEY([CreditcardId])
REFERENCES [dbo].[Creditcards] ([Id])
GO
ALTER TABLE [dbo].[Vipitems] CHECK CONSTRAINT [FK_Vipitems_Creditcards]
GO
ALTER TABLE [dbo].[Vipitems]  WITH CHECK ADD  CONSTRAINT [FK_VipPays_PayTypes] FOREIGN KEY([PayTypeId])
REFERENCES [dbo].[PayTypes] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Vipitems] CHECK CONSTRAINT [FK_VipPays_PayTypes]
GO
ALTER TABLE [dbo].[Vipitems]  WITH CHECK ADD  CONSTRAINT [FK_Vips_Members] FOREIGN KEY([MemberId])
REFERENCES [dbo].[Members] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Vipitems] CHECK CONSTRAINT [FK_Vips_Members]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'黑名單理由ID' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'BlacklistReasons', @level2type=N'COLUMN',@level2name=N'Id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'理由' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'BlacklistReasons', @level2type=N'COLUMN',@level2name=N'Reason'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'顯示順序' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'BlacklistReasons', @level2type=N'COLUMN',@level2name=N'DisplayOrder'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'黑名單理由' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'BlacklistReasons'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'黑名單ID' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Blacklists', @level2type=N'COLUMN',@level2name=N'Id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'連結管理者編號' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Blacklists', @level2type=N'COLUMN',@level2name=N'UserId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'開始時間' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Blacklists', @level2type=N'COLUMN',@level2name=N'BlacklistTime'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'結束時間' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Blacklists', @level2type=N'COLUMN',@level2name=N'NextRestorationTime'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'黑名單' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Blacklists'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'影片類別ID' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Categories', @level2type=N'COLUMN',@level2name=N'Id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'類別名稱' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Categories', @level2type=N'COLUMN',@level2name=N'Name'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'類別' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Categories'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'信用卡卡號 16碼' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Creditcards', @level2type=N'COLUMN',@level2name=N'CardNumber'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'背面末三碼' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Creditcards', @level2type=N'COLUMN',@level2name=N'ThreeNumber'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'姓氏' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Creditcards', @level2type=N'COLUMN',@level2name=N'FirstName'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'名字' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Creditcards', @level2type=N'COLUMN',@level2name=N'LastName'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'信用卡付費資訊' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Creditcards'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'問與答ID' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'FAQs', @level2type=N'COLUMN',@level2name=N'Id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'問題' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'FAQs', @level2type=N'COLUMN',@level2name=N'Question'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'答案' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'FAQs', @level2type=N'COLUMN',@level2name=N'Answer'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'0不顯示,1顯示' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'FAQs', @level2type=N'COLUMN',@level2name=N'Enabled'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'顯示順序' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'FAQs', @level2type=N'COLUMN',@level2name=N'DisplayOrder'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'問與答' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'FAQs'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'影片類型ID' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Genres', @level2type=N'COLUMN',@level2name=N'Id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'類型名稱' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Genres', @level2type=N'COLUMN',@level2name=N'Name'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'類型' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Genres'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'留言ID' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'GuestBooks', @level2type=N'COLUMN',@level2name=N'Id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'姓名' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'GuestBooks', @level2type=N'COLUMN',@level2name=N'Name'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'EMAIL' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'GuestBooks', @level2type=N'COLUMN',@level2name=N'Email'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'主旨' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'GuestBooks', @level2type=N'COLUMN',@level2name=N'Subject'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'留言' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'GuestBooks', @level2type=N'COLUMN',@level2name=N'Message'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'留言時間' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'GuestBooks', @level2type=N'COLUMN',@level2name=N'CreatedTime'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'討論板' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'GuestBooks'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'影片資訊編號' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'MediaInfos', @level2type=N'COLUMN',@level2name=N'Id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'影片類別Id' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'MediaInfos', @level2type=N'COLUMN',@level2name=N'CategoryId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'影片標題' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'MediaInfos', @level2type=N'COLUMN',@level2name=N'Title'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'影片簡介' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'MediaInfos', @level2type=N'COLUMN',@level2name=N'OverView'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'成人片' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'MediaInfos', @level2type=N'COLUMN',@level2name=N'Adult'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'影片原始語言' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'MediaInfos', @level2type=N'COLUMN',@level2name=N'OriginalLanguageId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'影片原始標題' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'MediaInfos', @level2type=N'COLUMN',@level2name=N'OriginalTitle'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'背景圖片路徑' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'MediaInfos', @level2type=N'COLUMN',@level2name=N'BackdropPath'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'影片封面路徑' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'MediaInfos', @level2type=N'COLUMN',@level2name=N'PosterPath'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'影片資訊' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'MediaInfos'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'影片類型關聯ID' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'MediaInfos_Genres_Rel', @level2type=N'COLUMN',@level2name=N'Id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'影片資訊ID' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'MediaInfos_Genres_Rel', @level2type=N'COLUMN',@level2name=N'MediaInfoId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'影片類型ID' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'MediaInfos_Genres_Rel', @level2type=N'COLUMN',@level2name=N'GenreId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'影片類型關聯' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'MediaInfos_Genres_Rel'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'影片上映平台關聯ID' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'MediaInfos_OttTypes_Rel', @level2type=N'COLUMN',@level2name=N'Id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'影片資訊ID' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'MediaInfos_OttTypes_Rel', @level2type=N'COLUMN',@level2name=N'MediaInfoId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'上映平台ID' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'MediaInfos_OttTypes_Rel', @level2type=N'COLUMN',@level2name=N'OttTypeId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'影片上映平台類別' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'MediaInfos_OttTypes_Rel'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'會員Id' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Members', @level2type=N'COLUMN',@level2name=N'Id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'帳號' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Members', @level2type=N'COLUMN',@level2name=N'Account'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'密碼' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Members', @level2type=N'COLUMN',@level2name=N'Password'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'姓名' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Members', @level2type=N'COLUMN',@level2name=N'Name'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'出生日期' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Members', @level2type=N'COLUMN',@level2name=N'BirthOfDate'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'電子郵件' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Members', @level2type=N'COLUMN',@level2name=N'Email'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'帳號創建日期' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Members', @level2type=N'COLUMN',@level2name=N'CreatedTime'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'前台會員' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Members'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'最新消息ID' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'News', @level2type=N'COLUMN',@level2name=N'Id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'標題' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'News', @level2type=N'COLUMN',@level2name=N'Title'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'內容' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'News', @level2type=N'COLUMN',@level2name=N'Description'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'發布日期' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'News', @level2type=N'COLUMN',@level2name=N'Publishdate'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'最新消息' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'News'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'上映平台ID' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'OttTypes', @level2type=N'COLUMN',@level2name=N'Id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'上映平台名稱' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'OttTypes', @level2type=N'COLUMN',@level2name=N'Name'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'上映平台種類' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'OttTypes'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'費用種類ID' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'PayTypes', @level2type=N'COLUMN',@level2name=N'Id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'種類,有年費和月費' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'PayTypes', @level2type=N'COLUMN',@level2name=N'Type'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'顯示順序' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'PayTypes', @level2type=N'COLUMN',@level2name=N'DisplayOrder'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'費用種類' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'PayTypes'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'評分編號' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Ratings', @level2type=N'COLUMN',@level2name=N'Id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'影片資訊 Id' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Ratings', @level2type=N'COLUMN',@level2name=N'MediaInfoId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'會員Id' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Ratings', @level2type=N'COLUMN',@level2name=N'MemberId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'評論' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Ratings', @level2type=N'COLUMN',@level2name=N'Comment'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'評分' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Ratings', @level2type=N'COLUMN',@level2name=N'Rate'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'發布時間' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Ratings', @level2type=N'COLUMN',@level2name=N'CreatedTime'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'會員評分影片' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Ratings'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'管理員Id' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Users', @level2type=N'COLUMN',@level2name=N'Id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'姓名' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Users', @level2type=N'COLUMN',@level2name=N'Name'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'帳號' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Users', @level2type=N'COLUMN',@level2name=N'Account'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'密碼' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Users', @level2type=N'COLUMN',@level2name=N'Password'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'是否啟用' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Users', @level2type=N'COLUMN',@level2name=N'IsConfirmed'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'後臺管理者' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Users'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'高級會員ID' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Vipitems', @level2type=N'COLUMN',@level2name=N'Id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'連結會員編號' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Vipitems', @level2type=N'COLUMN',@level2name=N'MemberId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'連結年費月費類型編號' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Vipitems', @level2type=N'COLUMN',@level2name=N'PayTypeId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'付款日期' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Vipitems', @level2type=N'COLUMN',@level2name=N'PaymentDate'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'失效日期' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Vipitems', @level2type=N'COLUMN',@level2name=N'ExpiryDate'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'高級會員' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Vipitems'
GO
