.card-title {
    /*height: 35px;*/
    font-size: 15px;
    font-weight: 800;
    text-align: center;
    color: rgb(12, 88, 103);
    /*background-color: rgb(216, 241, 248);*/
}

.card-body {
    height: 50px;
    overflow: hidden; /* 隱藏溢出的內容 */
    text-overflow: ellipsis; /* 當文字溢出時顯示省略號（...） */
    display: flex;
    flex-direction: column;
    justify-content: center; /* 在垂直方向上置中內容 */
}

.card {
    background-color: rgb(216, 241, 248);
}

.card img {
    object-fit: cover;
    height: 300px;
    /*border-radius: 5%*/
}

.card:hover {
    transform: scale(1.05);
    /* 悬停时放大卡片 */
    transition: transform 0.3s ease-in-out;
    /* 添加过渡效果 */
}

.card:hover .card-details {
    display: block;
    /* 悬停時顯示 */
    opacity: 1;
}

a {
    text-decoration: none;
}
