@model List<Final.Models.ViewModels.MediaInfosRelVm>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@foreach (var mediaInfo in Model)
{
    <div>
        <h3>@mediaInfo.Title</h3>
        <p>@mediaInfo.OverView</p>
        <!-- 其他属性的显示 -->
    </div>
}

