<!-- 選擇分類 begin -->
<div class="container text-nowrap" style=" margin-top: 35px;">
    <div class="row">
        <div class="col-12">
            <div class="container" id="typeId">
                <div class="row">
                    <div class="col-12" style="display: flex;">
                        <div class="col-1 mt-2">
                            按類型
                        </div>
                        <div class="col-11 text-center">
                            <ul class="list-group list-group-horizontal col-12">
                                @foreach (var item in ViewBag.Genres)
                                {
                                    <li class="list-group-item"><a class="" href="/MediaInfos/Category/@ViewBag.CategoryId/Genres/@item.Id">@item.Name</a></li>
                                }
                            </ul>
                        </div>
                    </div>
                    <div class="col-12" style="display: flex;">
                        <div class="col-1 mt-2">
                            按平台
                        </div>
                        <div class="col-11 text-center">
                            <ul class="list-group list-group-horizontal col-12">
                                @foreach (var item in ViewBag.OttTypes)
                                {
                                    <li class="list-group-item"><a class="" href="/MediaInfos/Category/@ViewBag.CategoryId/OttType/@item.Id">@item.Name</a></li>
                                }
                            </ul>
                        </div>
                    </div>
                    <div class="col-12" style="display: flex;">
                        <div class="col-1 mt-2">
                            按時間
                        </div>
                        <div class="col-11 text-center">
                            <ul class="list-group list-group-horizontal col-12">
                                <li class="list-group-item" style="width: 100px;"><a class="" href="/MediaInfos/Category/@ViewBag.CategoryId/UpcomingRelease">即將上映</a></li>
                                <li class="list-group-item" style="width: 100px;"><a class="" href="/MediaInfos/Category/@ViewBag.CategoryId/RecentRelease">近期上映</a></li>
                                <li class="list-group-item" style="width: 100px;"><a class="" href="/MediaInfos/Category/@ViewBag.CategoryId/RecentRemoval">即將下架</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<!-- 選擇分類 end -->