@{
    ViewBag.Title = "Home Page";
}

<main>
    <style>
        #title {
            font-size: 30px;
            background-color: lemonchiffon;
            width: 950px;
            height: 35px;
        }

        .no-underline {
            text-decoration: none;
            color: saddlebrown;
            font-size: 35px;
            margin-top: 20px;
            margin-left: 60px;
        }
    </style>
    <div class="m-3" id="title">您好,{User.Name}! 您已登入,目前時間為 @DateTime.Now</div>
    <div class="container">
        <div class="row">
            <div class="col-4">
                <a class="no-underline bx bx-user" href="/Members/Index">會員</a>
            </div>
            <div class="col-4">
                <a class="no-underline bx bx-user-check" href="/VipItems/Index">VIP明細</a>
            </div>
            <div class="col-4">
                <a class="no-underline bx bx-user-check" href="/PayTypes/Index">VIP方案</a>
            </div>
            <div class="col-4">
                <a class="no-underline bx bx-user-x" href="/Blacklist/Index">黑名單</a>
            </div>
            <div class="col-4">
                <a class="no-underline bx bx-user-x" href="/BlacklistReasons/Index">黑名單理由</a>
            </div>
            <div class="col-4">
                <a class="no-underline bx bx-comment-detail" href="/Ratings/Index">評論</a>
            </div>
            <div class="col-4">
                <a class="no-underline bx bx-film" href="/MediaInfos/Index">影片資訊管理</a>
            </div>
            <div class="col-4">
                <a class="no-underline bx bx-news" href="/News/Index">最新消息</a>
            </div>
            <div class="col-4">
                <a class="no-underline bx bx-question-mark" href="/FAQs/Index">FAQ</a>
            </div>
        </div>
    </div>
    @*<img src="~/Images/background-2.jpg" style="object-fit: cover; height:120px; margin-top: 10px; border-radius: 30%;" alt="Alternate Text" />
        <img src="~/Images/background-2.jpg" style="object-fit: cover; height: 120px; margin-top: 10px; border-radius: 30%;" alt="Alternate Text" />
        <img src="~/Images/background-2.jpg" style="object-fit: cover; height: 120px; margin-top: 10px; border-radius: 30%;" alt="Alternate Text" />
        <img src="~/Images/background-2.jpg" style="object-fit: cover; height: 120px; margin-top: 10px; border-radius: 30%;" alt="Alternate Text" />
        <img src="~/Images/background-2.jpg" style="object-fit: cover; height: 110px; margin-top: 10px; border-radius: 30%;" alt="Alternate Text" />
        <img src="~/Images/background-2.jpg" style="object-fit: cover; height: 110px; margin-top: 10px; border-radius: 30%;" alt="Alternate Text" />*@


</main>
